/* index.css */

.lightTheme {
  --bg-color: #ffffff;
  --text-color: #111111;
  --btn-bg: #f0f0f0;
  --btn-color: #111;
}

.darkTheme {
  --bg-color: #111111;
  --text-color: #f5f5f5;
  --btn-bg: #222222;
  --btn-color: #f5f5f5;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
